[[bin]]
name = "leetcode"
path = "src/bin/lc.rs"

[package]
name = "leetcode-cli"
version = "0.3.12"
authors = ["clearloop <cdr.today@foxmail.com>"]
edition = "2021"
description = "Leet your code in command-line."
repository = "https://github.com/clearloop/leetcode-cli"
license = "MIT"
documentation = "https://docs.rs/leetcode_cli"
homepage = "https://github.com/clearloop/leetcode-cli"
keywords = ["cli", "games", "leetcode"]
readme = './README.md'

[dependencies]
async-trait = "0.1.56"
tokio = { version = "1.19.2", features = ["full"] }
clap = { version = "4", features = ["cargo"] }
colored = "2.0.0"
env_logger = "0.9.0"
keyring = "1.2.0"
log = "0.4.17"
openssl = "0.10.41"
pyo3 = { version = "0.16.5", optional = true }
rand = "0.8.5"
serde = { version = "1.0.139", features = ["derive"] }
serde_json = "1.0.82"
toml = "0.5.9"
regex = "1.6.0"
scraper = "0.13.0"
etcetera = "0.4.0"

[dependencies.diesel]
version = "1.4.8"
features = ["sqlite"]

[dependencies.reqwest]
version = "0.11.11"
features = ["gzip", "json"]

[dev-dependencies.cargo-husky]
version = "1.5.0"
default-features = false
features = ["precommit-hook", "user-hooks"]

[features]
pym = ["pyo3"]

[target.'cfg(target_family = "unix")'.dependencies]
nix = "0.24.1"
