[[bin]]
name = "leetcode"
path = "src/bin/lc.rs"

[package]
name = "leetcode-cli"
version = "0.4.5"
authors = ["clearloop <tianyi.gc@gmail.com>"]
edition = "2021"
description = "Leetcode command-line interface in rust."
repository = "https://github.com/clearloop/leetcode-cli"
license = "MIT"
documentation = "https://docs.rs/leetcode_cli"
homepage = "https://github.com/clearloop/leetcode-cli"
keywords = ["cli", "games", "leetcode"]
readme = './README.md'

[dependencies]
async-trait = "0.1.83"
tokio = { version = "1.42.0", features = ["full"] }
clap = { version = "4.5.23", features = ["cargo"] }
colored = "2.2.0"
dirs = "5.0.1"
env_logger = "0.11.6"
keyring = "3.6.1"
log = "0.4.22"
openssl = "0.10.68"
pyo3 = { version = "0.23.3", optional = true }
rand = "0.8.5"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.134"
toml = "0.8.19"
regex = "1.11.1"
scraper = "0.22.0"
anyhow = "1.0.95"
clap_complete = "4.5.40"
thiserror = "2.0.9"

[dependencies.diesel]
version = "2.2.6"
features = ["sqlite"]

[dependencies.reqwest]
version = "0.12.12"
features = ["gzip", "json"]

[features]
pym = ["pyo3"]

[target.'cfg(target_family = "unix")'.dependencies]
nix = { version = "0.29.0", features = [ "signal" ] }
