[[bin]]
name = "leetcode"
path = "src/bin/lc.rs"

[package]
name = "leetcode-cli"
version = "0.3.0"
authors = ["clearloop <cdr.today@foxmail.com>"]
edition = "2018"
description = "Leet your code in command-line."
repository = "https://github.com/clearloop/leetcode-cli"
license = "MIT"
documentation = "https://docs.rs/leetcode_cli"
homepage = "https://github.com/clearloop/leetcode-cli"
keywords = ["cli", "games", "leetcode"]
readme = './README.md'

[dependencies]
async-trait = "0.1.41"
tokio = "0.2.22"
clap = "2.33.0"
colored = "1.9.1"
dirs = "2.0.2"
env_logger = "0.7.1"
escaper = "0.1.0"
keyring = "0.8.0"
log = "0.4"
openssl = "0.10.26"
pyo3 = { version = "0.8.5", optional = true }
rand = "0.7.2"
serde = { version = "1.0.104", features = ["derive"] }
serde_json = "1.0.44"
toml = "0.5.5"
regex = "1"

[dependencies.diesel]
version = "1.4.3"
features = ["sqlite"]

[dependencies.reqwest]
version = "0.10.3"
features = ["gzip", "json"]

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["precommit-hook", "user-hooks"]

[features]
pym = ["pyo3"]
