name: leetcode-cli

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest]
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v6
      - name: Install Toolchain
        run: rustup update stable && rustup default stable
      - name: Run tests
        run: cargo nextest run --release --all-features
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v6
      - name: Install Toolchain
        run: rustup update stable && rustup default stable
      - name: Run format check
        run: cargo fmt --check
      - name: Run clippy
        run: cargo clippy --all-features -- -D warnings
